
.container {
  width: 100%;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;

  padding: var(--space-4) var(--space-10);
}

/* tablet */
@media (min-width: 768px) {
  .container {
    padding: var(--space-6) var(--space-12);
  }
}

/* desktop */
@media (min-width: 1280px) {
  .container {

    padding: var(--space-8) var(--space-16);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.column{
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}