.item {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  font-family: var(--font-body);
  margin-bottom: var(--space-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* tablet and above */
@media (min-width: 768px) {
  .item {
   flex-direction: row;
  }
}





.label {
  font-weight: 600;
  min-width: 120px;
  color: var(--color-neutral-700);
}

.value {
  flex: 1;
  color: var(--color-text);
  word-break: break-word;
}

.valueLink {
  color: var(--color-primary-600);
  text-decoration: none;
}

.valueLink:hover {
  text-decoration: underline;
}
