.notFound {
  padding: var(--space-6);
  margin: 0 auto;
  text-align: center;
  margin-bottom: var(--space-6);
}

.link {
  color: var(--color-primary-500);
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}
