*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

